a {
    margin: 0;
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
    color: #40A497;
    text-decoration: inherit;
}

.valid {
    color: #40A497;
}

.unvalid {
    color: #40A497;
}

#article_box>header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
}

#article_title {
    font-size: 1.2em;
    display: block;
    color:#E08100;
}

#article_disponible {
    display:block;
}

#article_box>main {
    width: 90%;
    padding: 10px 0;
    height: 100px;
    margin: auto;
    text-align: justify;
    overflow: hidden;
}

#article_box>footer {
    padding: 5px 25px;
    text-align: right;
}

#article_box>footer>form {
    margin: 0;
    display: inline-block;
    float: left;
}

#list_article_row {
    border: 0;
    padding: 25px 50px;
}

#article_box {
    padding: 25px 0 0 0;
    margin: 0;
    height: 200px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#no_article {
    width: 100%;
    padding: 50px;
    height: 150px;
    font-size: 30px;
    text-align: center;
}
button {
    color: #E08100;
    border: inherit;
    background-color: inherit;
}
